<article>
      <h2>About</h2>
          <section class="row">
              <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <h3 class="my-panel-heading">About Kanji</h3>
                          <img class="massiveimg" alt="drawnKanji" src="html/svg/drawnKanjiOptimised.svg" />
                          <p>'Kanji' are Chinese characters adopted into Japanese. The Japan's Ministry of Education deems a knowledge of 2,136 characters to be necessary for general use (ie. reading a newspaper), although university students may be expected to come to know as many as 3,000. Their mastery is non-trivial even to the Japanese native, due to their myriad readings (the very common entry '生' lists as many as 20 different possible pronunciations), order by which one must draw each stroke, and great subtlety in meaning. Through this website, one can explore much information pertinent to their study, as detailed below.</p>
                      </div>
                  </div>
              </div>
          </section>

          <section class="row">
              <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <h3 class="my-panel-heading">Kanji data</h3>
                          <p>Two information fields are provided:</p>
                          <dl class="dl-horizontal">
                            <dt>Meaning</dt>
                            <dd>Possible translations of the character into English terms.</dd>
                            <dt>Reading</dt>
                            <dd>All the various ways in which the character may be pronounced based on different contexts (excluding proper nouns, inclusion of which would make the database too large to submit!).</dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </section>
          
          <section class="row">
              <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <h3 class="my-panel-heading">Study data</h3>
                          <p>Four information fields are provided, generally available only for the Ministry of Education-recommended characters:</p>
                          <dl class="dl-horizontal">
                            <dt>Frequency</dt>
                            <dd>A ranking of the frequency with which each of the characters are used (higher ranks are more frequent).</dd>
                            <dt>Stroke</dt>
                            <dd>The number of strokes used to draw the character.</dd>
                            <dt>JLPT Level</dt>
                            <dd>The level of the Japanese Language Proficiency Test under which the character falls.</dd>
                            <dt>Grade</dt>
                            <dd>The school grade in which native Japanese would learn the character.</dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </section>
          
          <section class="row">
              <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-body">

                              <h3 class="my-panel-heading">Extra info</h3>
                              <p>Four information fields are provided, generally available only for the Ministry of Education-recommended characters:</p>
                              <dl class="dl-horizontal">
                                <dt>Henshall page</dt>
                                <dd>The page of Kenneth G. Henshall's 1988 character etymology dictionary (A Guide To Remembering Japanese Characters) under which the character may be found.</dd>
                                <dt>Henshall index</dt>
                                <dd>The index of the character under the same book.</dd>
                                <dt>Unicode</dt>
                                <dd>The Unicode point of the character.</dd>
                                <dt>JIS</dt>
                                <dd>The JIS point of the character.</dd>
                              </dl>
                      </div>
                  </div>
              </div>
          </section>
      </article>
