<nav>
      <div class="row">
          <div class="col-xs-12">
              <form data-ng-submit="submit(mySearch)">
                  <div class="input-group">
                      <input type ="text" data-ng-model="mySearch" class="form-control" title="submitbutton"/> <!-- This input field's value is bound to $scope.mySearch -->
                          <span class="input-group-btn">
                              <input type="submit" name = "button1" value = "" class ="btn"/>
                          </span>
                  </div>
              </form>
          </div>
      </div>
    </nav>

    <article class="ng-hide houdini" data-ng-show="kanjidicReadingResults.length &amp;&amp; !hideMe">
      <h2>Results</h2>
      <section class="row">
          <div class="col-xs-12">
              <!-- 'data-ng-show' displays this panel only if the search result evaluates as TRUE. -->
              <div class="panel panel-default">
                  <div class="panel-body">
                      <!-- The panel brings its own padding, so this row is needed to subtract some padding. -->
                      <div class="definition-left-column">
                          <span class="massive" data-ng-bind="searchQuery"></span>
                      </div>
                      <div class="definition-right-column">
                      <h3 class="my-panel-heading">Kanji</h3>
                          <dl class="dl-vertical">
                              <dt>Meaning</dt>
                              <dd>
                                <span data-ng-repeat="readingIterator in kanjidicDefinitionResults track by $index">
                                    <span data-ng-bind="readingIterator"></span><span data-ng-hide="$last">, </span>
                                </span>
                              </dd>
                              <dt>Reading</dt>
                              <dd>
                                  <!-- data-ng-repeats can be optimised by 'track by $index', which tracks by the index of the data in the array. -->
                                  <span data-ng-repeat="readingIterator in kanjidicReadingResults track by $index">
                                    <span data-ng-bind="readingIterator"></span><span data-ng-hide="$last">, </span>
                                  </span>
                              </dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="row">
          <div class="col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3 class="my-panel-heading">Study data</h3>
                      <dl class="dl-horizontal">
                        <dt>Frequency</dt>
                        <dd data-ng-bind="kanjidicFrequencyResults"></dd>
                        <dt>Stroke</dt>
                        <dd data-ng-bind="kanjidicStrokeResults"></dd>
                        <dt>JLPT Level</dt>
                        <dd data-ng-bind="kanjidicJlptResults"></dd>
                        <dt>Grade</dt>
                        <dd data-ng-bind="kanjidicGradeResults"></dd>
                      </dl>
                  </div>
              </div>
            </div>
      </section>

      <section class="row">
          <div class="col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3 class="my-panel-heading">Extra information</h3>
                      <dl class="dl-horizontal">
                          <dt>Henshall page</dt>
                          <dd data-ng-bind="hkanjiPageOnlyResult"></dd>
                          <dt>Henshall index</dt>
                          <dd data-ng-bind="hkanjiIndexOnlyResult"></dd>
                          <!-- Unicode only available 1945 kanji (from Henshall); can be decoded from kanjidic_json (base64), or directly -->
                          <dt>Unicode</dt>
                          <dd data-ng-bind="hkanjiCodePointOnlyResult.unicode"></dd>
                          <dt>JIS</dt>
                          <dd data-ng-bind="hkanjiCodePointOnlyResult.jis"></dd>
                      </dl>
                  </div>
              </div>
          </div>
      </section>
    </article>

    <footer>
      <section class="row">
        <div class="col-xs-12">
          <div class="copyright panel panel-default">
            <div class="panel-body">
              <h3 class="my-panel-heading">Examples</h3>
              <p>
                <a href="javascript:void(0);" data-ng-click="submit('和')">和</a>
                <a href="javascript:void(0);" data-ng-click="submit('神')">神</a>
                <a href="javascript:void(0);" data-ng-click="submit('電')">電</a>
                <a href="javascript:void(0);" data-ng-click="submit('桜')">桜</a>
                <a href="javascript:void(0);" data-ng-click="submit('恩')">恩</a>
                <a href="javascript:void(0);" data-ng-click="submit('漢')">漢</a>
                <a href="javascript:void(0);" data-ng-click="submit('数')">数</a>
                <a href="javascript:void(0);" data-ng-click="submit('算')">算</a>
                <a href="javascript:void(0);" data-ng-click="submit('機')">機</a>
                <a href="javascript:void(0);" data-ng-click="submit('愛')">愛</a>
                <!-- href referring to a dummy JS call allows hand cursor to appear -->
              </p>
            </div>
          </div>
        </div>
      </section>
    </footer>