<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB" ng-app="kanjiApp">
    <head>
    <!-- Could get better icons from https://fortawesome.github.io/Font-Awesome/icons/ -->
    <!-- See http://getbootstrap.com/css/ . See http://getbootstrap.com/components for free glyphs -->
    <link rel="stylesheet" href="beyondbootstrap.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap-overrides.css" type="text/css" />
    <!-- Latest compiled and minified CSS, from http://bootswatch.com/simplex/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/simplex/bootstrap.min.css" integrity="sha256-rgHoMgF45/9e2kvxfvR0KarwQNw5CRqgxbrthGpeUuc= sha512-CGGV53FSdrXrjyGCNk04p+xuna3CbE33n773A0EEmqtcN8W3NaFsR0vSQcbll5dpSS90d3i2Zh3jFX/j46hzJA==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="../js/top.js"></script>
    <title>TOP</title>
</head>
<body ng-controller="kanjiListController">
    <div class="container-fluid maxdocwidth">

        <div class="row">
            <div class="
            col-xs-12">
                <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">How to</a></li>
                <li role="presentation"><a href="#">Origins</a></li>
                <li role="presentation"><a href="#">Site map</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="
            col-xs-12">
                <form ng-submit="submit()">
                    <div class="input-group">
                        <input type ="text" ng-model="search" name="query" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <!-- Everything is divided into 12 columns; for small screens, the wide col takes the whole screen width,
            and the narrow column must re-flow into a new row. -->
            <div class="
            col-xs-12">
                <!-- 'ng-show' displays this panel only if the search result evaluates as TRUE. -->
                <div class="panel panel-default" ng-show="kanjidicReadingResults.length">
                    <div class="panel-body">
                        <!-- The panel brings its own padding, so this row is needed to subtract some padding. -->
                        <div class="row">
                            <div class="
                            col-xs-12
                            col-sm-4
                            col-md-3">
                                <span class="massive" ng-bind="searchQuery"></span>
                            </div>
                            <div class="
                            col-xs-6
                            col-sm-8
                            col-md-9">
                                <!-- Was originally dl-horizontal, but reserved too much space by becoming dl-vertical at a non-configurable screen-width. -->
                                <dl class="dl-vertical">
                                    <dt>Meaning</dt>
                                    <dd ng-bind="kanjidicReadingResults[0]"></dd>
                                    <dt>Reading</dt>
                                    <!--<dd ng-bind="hkanjiIndexResult.readings.join(', ') || '&nbsp;'"></dd>-->
                                    <dd>
                                        <span ng-repeat="readingIterator in kanjidicReadingResults track by $index">
                                            <span ng-bind="readingIterator"></span><span ng-hide="$last">,</span>
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="
            col-xs-12">
                <div class="panel panel-default" ng-show="kanjidicReadingResults.length">
                    <div class="panel-body">
                        <p class="h4">Extra information</p>

                        <dl class="dl-horizontal">
                            <dt>Henshall page</dt>
                            <dd ng-bind="hkanjiPageOnlyResult"></dd>
                            <dt>Henshall index</dt>
                            <dd ng-bind="hkanjiIndexOnlyResult"></dd>
                            <!-- Unicode only available 1945 kanji (from Henshall); can be decoded from kanjidic_json (base64), or directly -->
                            <dt>Unicode</dt>
                            <dd ng-bind="hkanjiCodePointOnlyResult.unicode"></dd>
                            <dt>JIS</dt>
                            <dd ng-bind="hkanjiCodePointOnlyResult.jis"></dd>
                        </dl>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="
            col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Copyright information
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>